/* BIG SCREENS */
@media (min-width: 1000px) {
  #container {
    display: flex;
  }

  h1 {
    font-size: 96px;
  }

  h3 {
    margin-bottom: 96px;
  }

  h4 {
    font-size: 24px;
    margin-bottom: 48px;
  }

  .heart {
    width: 250px;
  }
  #right-panel {
    max-width: 600px;
  }

  #right-panel img {
    border: 1px solid green;
    border-radius: 32px;
  }
}
/* End media query */

h3 {
  margin-top: 24px;
  font-weight: 300;
  margin-bottom: 32px;
}

h4 {
  max-width: 700px;
  font-weight: 300;
  margin-bottom: 16px;
}

h5 {
  font-size: 24px;
  margin-bottom: 32px;
}

#container {
  margin: 32px;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 95vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  display: relative;
}

#main-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heart {
  width: 250px;
  aspect-ratio: 1;
  object-fit: cover;
  --_m: radial-gradient(#000 69%, #0000 70%) 84.5%/50%;
  -webkit-mask-box-image: var(--_m);
  mask-border: var(--_m);
  clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}

#right-panel {
  display: grid;
  grid-template-areas:
    "one two"
    "three four"
    "five five";
  gap: 8px;
}

#left-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.grid-container {
  display: grid;
  place-items: center; /* Centers content horizontally and vertically */
  height: 100%; /* Set the height of the container */
}

.btn {
  display: inline-block;
  padding: 30px 30px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border: none;
  border-radius: 32px;
  cursor: pointer;
}
